- model_class = @publisher.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:url) + ':'
  %br
  = @publisher.url
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @publisher.name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), publishers_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_publisher_path(@publisher), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), publisher_path(@publisher), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
